@media (min-width: 481px) {
	.sep{
		display:block;
	}
}

@media (min-width: 600px) {
  #headerwrap h1 {
	width: 586px;
	font-size: 26px;
  }
  #headerwrap h5 {
  	display: block;
  }
  #desktopLogo, #topRight a  {
  	display:inline;
  }
  #mobileLogo {
  	display:none;
  }
}
/*ipad resolution*/
@media (min-width: 768px) {
  #testimonialGrey .mt{
  	margin: 0;
  }
  .img-responsive{
  	max-width: 400px;
  }
  .facet_sidebar {
    display: none;
  }
  .graphDescription
}

@media (min-width: 900px) {
	#menuToggle{
  	 display: none;
  	}
    #topNav li{
	 display: inline;
	}

}
@media (min-width: 1000px) {
	.responsive-container {
		margin-bottom: 40px;
	}
	.noMarginLeft:last-child{
	  	padding-left: 20px;
	  	margin-right: 0px;
	  }
	#headerwrap{
		padding:150px 0px;
		height: 750px;
	}
	#headerwrap h1{
		font-size: 41px;
		width: 800px;
	}
	.img-responsive{
	width: 300px;
	}
}
